
.album-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  padding: 0;
}

.album-container > .active {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 550px;
  outline: .5px solid gray;
}

.album-container > li {
  list-style: none;
  width: 100px;
  height: 100px; 
  outline: 1px solid gray;
  padding: 0; 
  margin: 10px 5px 10px 5px;
  cursor: pointer;
}

.album-container > li >  img {
  height: 100%;
  width: 100%; 
}





