#container {
    margin: 100px auto;
}

div {
    outline: 0.5px solid black;
    width: 200px;
    box-sizing: border-box;
}

.accordeon-heading {
    font-weight: bold; 
}

.accordeon-body {
    padding: 15px;
}

.accordion-element {
    position: relative;
    top: 0;
    left: 0;
}

.accordion-element:hover {
    cursor: pointer;
    outline-color: blue;
}

.hidden {
    display: none;
}



