.u-full-width,
.deleteButton {
    margin: 0 auto;
}
.u-full-width {
    width: 600px;
}
.u-full-width th,
.u-full-width td,
.table-footer {
    text-align: center;
}

.button {
    background-color: lightgray;
}
.active {
    font-weight: 700;
    color: green;
}
.u-full-width tr {
    cursor: pointer;
}