.u-full-width,
.deleteButton {
    margin: 0 auto;
}

.u-full-width th,
.u-full-width td,
.table-footer {
    text-align: center;
}

.u-full-width .button {
    background-color: lightgray;
}

.u-full-width tr {
    cursor: pointer;
}

.pop-up {
    display: none;
    background-color: rgba(137, 180, 214, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;
    width: 400px;
    height: 150px;
    border: 1px solid black;
} 
.activePopUp {
    display: block;
}